%website

#website_information

	#website_name_address
		= link_to "#{@website.name}", @website.url, :id => "website_link"
		
	#website_img
		= image_tag("#{@website.picture.url}")
	
	#website_desc
		= @website.description

	#website_submitter
		= "#{@submitter.email}, maybe we should take this out or have unique usernames"
		= link_to "Submitter Profile", show_profile_path(@submitter.id), :id=>"submitter_profile_link"
	
	#endorse_link
		- if user_signed_in?
			- if @is_endorsed
				= link_to "Unendorse", unendorse_website_path(@website.id)
			- else
				= link_to "Endorse!", endorse_website_path(@website.id)
		- else
			= link_to "Endorse!", new_user_session_path



