%website

#website_information

	#website_name_address
		= link_to "#{@website.name}", @website.url, :id => "website_link"
	#website_img_container	
		#website_img
			= image_tag("#{@website.picture.url}", :size=>'350x350')
	
	#website_desc
		= @website.description
	
	#endorse_link
		- if user_signed_in?
			- if @is_endorsed
				= link_to "Unendorse", unendorse_website_path(@website.id), :method => :post
			- else
				= link_to "Endorse!", endorse_website_path(@website.id), :method => :post
		- else
			= link_to "Endorse!", endorse_website_path, :method => :post

	#website_submitter
		= link_to "Website Submitter Profile", show_profile_path(@submitter.id), :id=>"submitter_profile_link"
	#end_float
