%profile

#profile_page
	#user_email
		= @user.email

	#user_votes
		%ul#dropdown
			%li
				= "Recently Upvoted"
				%ul
					- @upvotes.each do |upvoted_website|
						%li
							= link_to "#{upvoted_website.name}", upvoted_website.url
		
		%ul#dropdown
			%li
				= "Recently Downvoted"
				%ul
					- @downvotes.each do |downvoted_website|
						%li
							= link_to "#{downvoted_website.name}", downvoted_website.url

	#user_endorsements	
		=render :partial => "/webtiles"
		
		

