%profile
	#user_profile_info
		#user_email
			= "#{@user.email}'s Homepage"

		#user_image
			= image_tag(@user.picture.url, :size => '250x250')
			#user_picture_upload
				- if user_signed_in? && current_user.picture_file_name.nil?
					= form_tag add_profile_pic_path(), :multipart => true, :id => "add_profile_pic_form", :method => :post, do
						#user_picture_browse
							= label :user, :picture, 'Add your profile picture!'
							%br
							= file_field :user, :picture, :input_type => 'image', :class => "profile_img_file_field"
						#profile_submit_img
							= submit_tag 'Submit!', :class => "profile_submit_button"				

					
	#user_votes
		%ul#dropdown
			%li#main
				= "Recent Votes"
				%ul
					- @votes.each do |vote|		
						- if vote.vote_type == 0
							%li
								#feed_arrow
									= image_tag('arrow-down.png', :size => '30x30')
								= link_to "#{Website.find_by_id(vote.website_id).name}", Website.find_by_id(vote.website_id).url
						- elsif vote.vote_type == 1
							%li
								#feed_arrow
									= image_tag('arrow-up.png', :size => '30x30')
								= link_to "#{Website.find_by_id(vote.website_id).name}", Website.find_by_id(vote.website_id).url

	#end_float		

	#user_endorsements	
		#user_endorsement_statement
			= "Endorsed Websites"
		
		#user_endorsed_sites
			= render :partial => "/webtiles"
		
		

