%ul#Legal
	%li#head
		Legal
	%li#link
		= link_to "Privacy Policy", "/privacy", :id=>"privacy"
	%li#link
		= link_to "Terms of Service", "/termsofservice", :id=>"terms"
	%li#link
		= link_to "Copy Right Policy", "/copyright", :id=>"copyright"

%ul#Help
	%li#head
		Help
	%li#link
		= link_to "FAQ", "/faq", :id=>"faq"
	%li#link
		= link_to "Contact Us", "/contact", :id=>"contact"
	%li#link
		= link_to "Community Guidelines", "/communityguidelines", :id=>"community_guide_lines"
