#footer
	%ul
		%li
			%ul
				%li
					Legal
				%li
					= link_to "Privacy Policy", "/privacy", :id=>"privacy"
				%li
					= link_to "Terms of Service", "/termsofservice", :id=>"terms"
				%li
					= link_to "Copy Right Policy", "/copyright", :id=>"copyright"

		%li
			%ul
				%li
					Help
				%li
					= link_to "FAQ", "/faq", :id=>"faq"
				%li
					= link_to "Contact Us", "/contact", :id=>"contact"
				%li
					= link_to "Community Guidelines", "/communityguidelines", :id=>"community_guide_lines"
