!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title Rectangle
        %meta{:content => "", :name => "description"}
          %meta{:content => "width=device-width", :name => "viewport"}
        = stylesheet_link_tag 'application'
        = javascript_include_tag 'application'
        = javascript_include_tag 'jquery'
        = stylesheet_link_tag 'bootstrap'
        = stylesheet_link_tag 'bootstrap-responsive'
        = javascript_include_tag 'modernizr-2.6.1-respond-1.1.0.min'
        = javascript_include_tag 'bootstrap.min'
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    / This code is taken from http://twitter.github.com/bootstrap/examples/hero.html
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -#%a.brand{:href => "#"} Project name
          = link_to image_tag('rectangle_logo.png', :size=>'60x15', :class=>"brand"), root_path
          .nav-collapse.collapse
            %ul.nav
              %li.active
                = link_to "Home", root_path, :class=>"link_bar_link"
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => root_path}
                  .link_bar_link
                    Discover
                    %b.caret
                %ul.dropdown-menu
                  %li
                    .link_bar_link= link_to "What's Trending", "/show/trending"
                  %li
                    .link_bar_link= link_to "What's Best", "/show/quality"
                  %li
                    .link_bar_link= link_to "What's New", "/show/newest"
              %li
                = link_to "Submit A Site", display_new_website_path, :class=>"link_bar_link"
              %li
                = link_to "Search", show_search_path, :class=>"link_bar_link"
              %li
                = link_to "Friends", root_path, :id=>"friends", :class=>"link_bar_link"
              %li
                - if user_signed_in?
                  = link_to "Profile", show_profile_path(current_user.id), :class=>"link_bar_link"
                - else
                  = link_to "Profile", root_path, :class=>"link_bar_link"
            %ul.nav.pull-right
              %li
                - if user_signed_in?
                  = link_to "Logout", destroy_user_session_path, :id=>"logout"
                - else
                  = link_to "Log In / Register", new_user_session_path, :id=>"login"
          / /.nav-collapse
    .container.yield-container
      / Main hero unit for a primary marketing message or call to action
      - if flash[:error] or flash[:notice] or flash[:warning]
        .container#wrapper
          - if flash[:notice]
            #notice.message= flash[:notice]
          - if flash[:warning]
            #warning.message= flash[:warning]
      = yield
      %hr
        %footer
          =render :partial => "/footer"
    / /container
    :javascript
      window.jQuery || document.write('<\/script>')
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
