%html

	%head
	
		%title Rectangle
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	
	%body
	
		#banner
			#logo
				= link_to image_tag('rectangle_logo.png'), '/'
			#links_bar
				= link_to "Discover", '/', :id=>"discover", :class=>"link_bar_link"
				= link_to "Submit A Site", display_new_website_path, :id=>"submit", :class=>"link_bar_link"
				= link_to "Friends", '/', :id=>"friends", :class=>"link_bar_link"
				= link_to "Profile", '/', :id=>"profile", :class=>"link_bar_link"
			#user
				- if @logged_in
					= link_to "Logout", '/logout', :id=>"logout"
				- else
					= link_to "Log In / Register", '/login', :id=>"login"
			
		#wrapper
		
			- if flash[:notice]
				#notice.message= flash[:notice]
			- elsif flash[:warning]
				#warning.message= flash[:warning]
				
			= yield
			
	%footer
		=render :partial => "/footer"

